<h3>Vehicle Details</h3>
<div class="cookieCard">
    <img src="{{vehicle.image}}" alt="">
  <p class="cookieHeading">{{vehicle.Vehicle}}</p>
  <p class="cookieDescription">{{vehicle.color}}</p>
  <p class="cookieDescription">{{vehicle.cost}}</p>
  <p class="cookieDescription">{{vehicle.fuel}}</p>
  <p class="cookieDescription">{{vehicle.manufacturer}}</p>
  <p class="cookieDescription">{{vehicle.tyres}}</p>
  <p class="cookieDescription">{{vehicle.model}}</p>
  <p class="cookieDescription">{{vehicle.type}}</p>
  <button class="acceptButton">Understood</button>
</div>
