<div class="parent">
    <div class="left">
        <h1>Dashboard</h1>
        <h2 routerLink="/dashboard">Home</h2>
        <h2 routerLink="/dashboard/clock">Clock</h2>
        <h2 routerLink="/dashboard/calculator">Calculator</h2>
        <h2 routerLink="/dashboard/data-binding">Data Binding</h2>
        <h2 routerLink="/dashboard/directives">Directives</h2>
        <h2 routerLink="/dashboard/employees">Employees</h2>
        <h2 routerLink="/dashboard/vehicles">Vehicles</h2>
        <h2 routerLink="/dashboard/create-student">Create Student</h2>
        <h2 routerLink="/dashboard/parent">Parent</h2>
        <h2 routerLink="/dashboard/sibling1">Sibling</h2>
        <h2 routerLink="/dashboard/rating">Rating</h2>
        <h2 routerLink="/dashboard/material">Material</h2>
        <h2 routerLink="/dashboard/payments/upi">UPI</h2>
        <h2 (click)="logout()">Logout</h2>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>