.parent{
    width: 100vw;
    height: 100vh;
    background-color: lightsalmon;
    display: flex;
}
.left{
    width: 20%;
    height: 100%;
    background-color: tomato;
    overflow: auto;
}
.right{
    width: 80%;
    height: 100%;
    background-color: darkseagreen;
    overflow: auto;
}